<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <sectionGroup name="child">
        <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      </sectionGroup>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>    
  </configSections>
  <spring>
    <parsers>
      <parser type="Spring.Data.config.DatabaseNamespaceParser, Spring.Data"/>
    </parsers>
    <context name="ParentContext">
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx">
      <description>IOC configuration</description>
      <db:provider id="dbProvider" provider="SqlServer-1.1" connectionString="Data Source=ERPSQL;Database=E1Link;User ID=e1link;Password=e1link;Trusted_Connection=False"/>
      <object id="adoTemplate" type="Spring.Data.Generic.AdoTemplate, Spring.Data">
        <property name="CommandTimeOut" value="600"/>
        <property name="DbProvider" ref="dbProvider"/>
        <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader, Spring.Data"/>
      </object>
      <object id="DAO" name="DAO" type="ShippingService.Business.Dao.ShippingServiceDAO, ShippingService.Business">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>
      <object id="Facade" name="Facade" type="ShippingService.Business.Facade, ShippingService.Business">
        <property name="Dao">
          <ref local="DAO"/>
        </property>
      </object>
      <object id="transactionManager" type="Spring.Data.Core.AdoPlatformTransactionManager, Spring.Data">
        <property name="DbProvider" ref="dbProvider"/>
      </object>
      <!-- Transaction aspect -->
      <tx:attribute-driven/>
    </objects>
  </spring>
  <appSettings>
    <add key="UPS_BELGIUM_SHIPPER_NUMBER" value="68383V"/>
    <add key="UPS_RRDONNELY_SHIPPER_NUMBER" value="8193W8" />
    <add key="UPSUrlShipAccept" value="https://wwwcie.ups.com/ups.app/xml/ShipAccept"/>
    <add key="UPSUrlShipConfirm" value="https://wwwcie.ups.com/ups.app/xml/ShipConfirm"/>
    <add key="UPSLabelDirectory" value="C:\UPS_LABELS"/>
    <add key="UPDATE_E1" value="False"/>
  </appSettings>
</configuration>