body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.ListOrders td 
{
    background-color: #fff;
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}

table.ListOrders
{
   margin:10px 0pt 15px;  
   background-color: #CDCDCD;
   width: 100%;
}

table.ListOrders tr th
{
    background-color: #e2e2e2;
    color: #565252;
	
	padding: 4px;
	font-weight: normal;
}

.Feedback
{
    color: Green;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffff;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:20px;
	width:280px;
	text-align:center;
}

.modalPopupLarge {
	background-color:#ffffff;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:20px;
	width:700px;
	text-align:center;
}

.modelPopupTitle
{
	color:Black;
	margin-bottom: 5px;
	font-weight:bold;
}

.modalPopupTopPane
{
	position: relative; 
	width: 280px;
}

.modalPopupLargeTopPane
{
	position: relative; 
	width: 700px;
}

.modalPopupTopPaneButton
{
	float: right; 
	cursor: pointer;
	width:auto; 
	overflow:visible;
}

.datePicker
{
    width: 100px;
}
